body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
      background-color: lightgray;
    
  }
  
  header {
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    margin: 0 10px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    grid-area: main;
    margin: 50px;
  }
  
  footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  @media (max-width: 800px) {
    body {
      grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    }
  }
  
  @media (max-width: 400px) {
    body {
      grid-template-areas:
        "header"
        "main"
        "footer";
    }
  }
  img{
    float: left;
    width: 300px;
  }
  p{
    font-size: 18px;
  }
  kep1{
    float: left;
  }
